<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
    <a href="#" class="brand">
      <i class='bx bxs-basket'></i>
      <span class="text">Gestion De stock</span>
    </a>
    <ul class="side-menu top">
      <li class="active">
        <a href="#">
          <i class='bx bxs-dashboard' ></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-shopping-bag-alt' ></i>
          <a class="nav-link active" aria-current="page" routerLink="/product">Product</a>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-notepad' ></i>
          
          <a class="nav-link" routerLink="/facture">Facture</a>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-message-dots' ></i>
          <a class="nav-link" routerLink="/operateur">Operateur</a>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-message-edit' ></i>
          <a class="nav-link" routerLink="/reglement">Reglement</a>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-group' ></i>
          <a class="nav-link" routerLink="/secteurActivite">Secteur-Activite</a>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-basket' ></i>
          <a class="nav-link" routerLink="/stock">Stock</a>
        </a>
      </li>
   
     
      
    </ul>
 
  </section>
  <!-- SIDEBAR -->
  
  