   <!-- NAVBAR -->
   <nav>
    <i  class='bx bx-menu' ></i>
    <a href="#" class="nav-link">Categories</a>
    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Search...">
        <button type="button" class="search-btn"><i class='bx bx-search' ></i></button>
      </div>
    </form>
   
    <li>
      <a href="#" class="logout">
        <i class='bx bxs-log-out-circle' >
      
        <a class="nav-link" routerLink="/login">Logout</a></i>
      </a>
    </li>